@model IEnumerable<MusicLibrary.Models.Playlist>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.playlistName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Song.title)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.playlistName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Song.title)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.playlistID }) |
            @Html.ActionLink("Details", "Details", new { id=item.playlistID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.playlistID })
        </td>
    </tr>
}

</table>
