@model IEnumerable<MusicLibrary.Models.Album>

@{
    ViewBag.Title = "Genre Page";
}

<div class="jumbotron">
    <h1>my music</h1>
    <div>
        <ul class="nav nav-tabs nav-justified">
            <li>@Html.ActionLink("artist", "Index", "Artist")</li>
            <li>@Html.ActionLink("album", "Index", "Home")</li>
            <li>@Html.ActionLink("song", "Index", "Song")</li>
            <li class="active">@Html.ActionLink("genre", "Index", "Genre")</li>
        </ul>
    </div>
</div>

<div class="btn-group btn-group-justified">

    <a class="btn btn-default btn-xs" role="button">a</a>
    <a class="btn btn-default btn-xs" role="button">b</a>
    <a class="btn btn-default btn-xs" role="button">c</a>
    <a class="btn btn-default btn-xs" role="button">d</a>
    <a class="btn btn-default btn-xs" role="button">e</a>
    <a class="btn btn-default btn-xs" role="button">f</a>
    <a class="btn btn-default btn-xs" role="button">g</a>
    <a class="btn btn-default btn-xs" role="button">h</a>
    <a class="btn btn-default btn-xs" role="button">i</a>
    <a class="btn btn-default btn-xs" role="button">j</a>
    <a class="btn btn-default btn-xs" role="button">k</a>
    <a class="btn btn-default btn-xs" role="button">l</a>
    <a class="btn btn-default btn-xs" role="button">m</a>
    <a class="btn btn-default btn-xs" role="button">n</a>
    <a class="btn btn-default btn-xs" role="button">o</a>
    <a class="btn btn-default btn-xs" role="button">p</a>
    <a class="btn btn-default btn-xs" role="button">q</a>
    <a class="btn btn-default btn-xs" role="button">r</a>
    <a class="btn btn-default btn-xs" role="button">s</a>
    <a class="btn btn-default btn-xs" role="button">t</a>
    <a class="btn btn-default btn-xs" role="button">u</a>
    <a class="btn btn-default btn-xs" role="button">v</a>
    <a class="btn btn-default btn-xs" role="button">w</a>
    <a class="btn btn-default btn-xs" role="button">x</a>
    <a class="btn btn-default btn-xs" role="button">y</a>
    <a class="btn btn-default btn-xs" role="button">z</a>
    <a class="btn btn-default btn-xs" role="button">#</a>

</div>


<div class="row">

    @{
        bool firstCountry = true;
        bool firstElectronic = true;
        bool firstMetal = true;
        bool firstPop = true;
        bool firstRock = true;


        foreach (var album in Model)
        {


            switch (album.Genre.type)
            {
                case "Country":
                    if (firstCountry)
                    {
                        <div class="col-sm-6 col-md-3">
                            <div class="thumbnail">
                                <img class="thumbnail" src="~/img/Letter_Tiles/A_Tile.png" />
                            </div>
                        </div>
                        firstCountry = false;

                    }
                    break;
                case "Electronic":
                    if (firstElectronic)
                    {
                        <div class="col-sm-6 col-md-3">
                            <div class="thumbnail">
                                <img class="thumbnail" src="~/img/Letter_Tiles/B_Tile.png" />
                            </div>
                        </div>
                        firstElectronic = false;

                    }
                    break;
                case "Metal":
                    if (firstMetal)
                    {
                        <div class="col-sm-6 col-md-3">
                            <div class="thumbnail">
                                <img class="thumbnail" src="~/img/Letter_Tiles/C_Tile.png" />
                            </div>
                        </div>
                        firstMetal = false;

                    }
                    break;
                case "Pop":
                    if (firstPop)
                    {
                        <div class="col-sm-6 col-md-3">
                            <div class="thumbnail">
                                <img class="thumbnail" src="~/img/Letter_Tiles/D_Tile.png" />
                            </div>
                        </div>
                        firstPop = false;

                    }
                    break;
                case "Rock":
                    if (firstRock)
                    {
                        <div class="col-sm-6 col-md-3">
                            <div class="thumbnail">
                                <img class="thumbnail" src="~/img/Letter_Tiles/E_Tile.png" />
                            </div>
                        </div>
                        firstRock = false;

                    }
                    break;
                default:
                    break;
            }



            <div class="col-sm-6 col-md-3">
                <div class="thumbnail">
                    <a href="@Url.Action("Details", "Album", new { id = album.albumID })">
                        <img class="img-thumbnail" alt="@album.name" src="@album.AlbumArts.First().url" />
                        <div class="caption">
                            <h4>@Html.DisplayFor(modelItem => album.name)</h4>
                            <p>@Html.DisplayFor(model => album.Artist.name)</p>
                        </div>
                    </a>
                </div>
            </div>
        }
    }
</div>