@model MusicLibrary.Models.Song

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Song</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.releaseYear)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.releaseYear)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.trackNum)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.trackNum)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Album.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Album.name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Artist.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Artist.name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Genre.type)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Genre.type)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Playlist.playlistName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Playlist.playlistName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.songID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
