@model IEnumerable<MusicLibrary.Models.Song>

@{
    ViewBag.Title = "Song";
}

<div class="jumbotron">
    <h1>my music</h1>
    <div>
        <ul class="nav nav-tabs nav-justified">
            <li>@Html.ActionLink("artist", "Index", "Artist")</li>
            <li>@Html.ActionLink("album", "Index", "Home")</li>
            <li class="active">@Html.ActionLink("song", "Index", "Song")</li>
            <li>@Html.ActionLink("genre", "Index", "Genre")</li>
        </ul>
    </div>
</div>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.trackNum)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Album.AlbumArts.First().url)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Album.name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Artist.name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.releaseYear)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Genre.type)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.trackNum)
            </td>
            <td>
                <a href="@Url.Action("Details", "Album", new { id = item.Album.albumID })">
                    <img alt="item.Album.name" height="50" width="50" src="@item.Album.AlbumArts.First().url" />
                </a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Album.name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Artist.name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.releaseYear)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Genre.type)
            </td>
            <td>
                <button type="button" class="btn btn-default">
                    <strong>
                        @Html.ActionLink("+", "Index", "Playlist")
                    </strong>
                </button>
            </td>
        </tr>
    }

</table>
